// Colors
@white: #fff;
@light-grey: #f2f2f2;
@dark-grey: #404040;
@orange: #fec800;

@body-bg: @light-grey;

@icon-font-path: 'fonts/';

// Typography/Text
@text-color: @dark-grey;
@font-family-open-sans: 'Open Sans', sans-serif;
@font-family-base: @font-family-open-sans;

@headings-color: @orange;
@font-size-base: 16px;
@font-size-h1: 48px;
@font-size-h2: 48px;
@font-size-large: 24px;
@font-size-button: 21px;
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px


@link-color: @orange;
@link-hover-color: darken(@orange, 5%);
@link-hover-decoration: none;

// Buttons
@btn-border-radius-base: 0;
@btn-border-radius-large: 0;
@btn-border-radius-small: 0;

// Forms
@input-border-radius: 0;
@input-border-focus: transparent;
@input-border: transparent;

/****************************************/

// Layout
@nav-width: 165px;