{% extends "base.html" %}

{% block title %}List of Issues{% endblock %}

{% block content %}
    <h2>Issues</h2>

    <h3>Statistics</h3>

    <ul>
    <li><strong>Average solving time:</strong> {{ stats.avg.val }}</li>
    <li><strong>Minimum solving time:</strong> {{ stats.min.val }}</li>
    <li><strong>Maximum solving time:</strong> {{ stats.max.val }}</li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            <th>Created date</th>
            <th>Solved date</th>
            <th>Category</th>
            <th>State</th>
            <th>Description</th>
            <th>Solver</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table-hover">
        {% for issue in issues %}
            <tr>
                <td>{{ issue.created_ts|date:"H:m d.n.Y" }}</td>
                <td>{{ issue.solved_ts|date:"H:m d.n.Y"}}</td>
                <td>{{ issue.category }}</td>
                <td>{{ issue.get_state_display }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.solver }}</td>
                <td>
                    {% if user.is_superuser %}
                        <a href="{% url 'issues_update' pk=issue.id %}">Edit</a> |
                        <a href="{% url 'issues_delete' pk=issue.id %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

