{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Update issue' %}{% endblock %}

{% block content %}
    <h2>{% trans 'Update issue' %}</h2>

    {% bootstrap_messages %}

    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} {% trans 'Update issue' %}
            </button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'issues_list' %}"/>
    </form>
{% endblock %}

