{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Delete issue' %}{% endblock %}

{% block content %}


    <form method="post" class="form">
        {% csrf_token %}

        <div class="text-center text-danger">
            {% trans 'Are you really sure you want to delete the issue?' %}<br><br>

            <button type="submit" class="btn btn-danger">
                {% bootstrap_icon "star" %} {% trans 'Yes' %}
            </button>
        <a href="{% url 'issues_list' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock %}

