{% extends "admin/base.html" %}

{% block title %}{{ title }} | Administration of U_Issues{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Administration of U_Issues</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
