{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{% trans 'Log in!' %}</h1>

            {% bootstrap_messages %}

            <form action="{% url 'login' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} {% trans 'Log in' %}
                    </button>
                {% endbuttons %}
                <input type="hidden" name="next" value="{% url 'issues_list' %}"/>
            </form>
        </div>
    </div>

{% endblock content %}


