{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="robots" content="ALL,FOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                }
            })
        });
    </script>
</head>
<body>
<div class="container">
    {% block menu %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#nav_collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">U_Issues</a>
                </div>

                <div class="collapse navbar-collapse" id="nav_collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}

                            <li {% if request.resolver_match.url_name == 'issues_list' %}class="active"{% endif %}><a
                                    href="{% url 'issues_list' %}">{% trans 'List of issues' %}</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li {% if request.resolver_match.url_name == 'issues_new' %}class="active"{% endif %}><a
                                    href="{% url 'issues_new' %}">{% trans 'New issue' %}</a></li>
                        {% endif %}
                    </ul>

                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}"
                           class="btn btn-default navbar-btn navbar-right mr10">{% trans 'Log out' %}</a>

                        {% if user.is_superuser %}
                            <a href="{% url 'admin:index' %}"
                               class="btn btn-default navbar-btn navbar-right mr10">{% trans 'Administration' %}</a>
                        {% endif %}

                        <p class="navbar-text navbar-right mr10">Signed in as <strong>{{ user.username }}</strong></p>
                    {% else %}
                        <a href="{% url 'login' %}"
                           class="btn btn-default navbar-btn navbar-right">{% trans 'Log in' %}</a>
                    {% endif %}
                </div>


            </div>
        </nav>
    {% endblock %}

    <div class="content {% block content_class %}{% endblock %}">
        {% block content %}{% endblock %}

    </div>
</div>

{% block javascript %}
    <script type="text/javascript" src="{% static 'lib.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}
</body>
</html>