{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome!</h1>

    <div class="text-center">
        <h4>Welcome to brand new, disruptive and exciting U_Issues tracker!</h4>

    It offers very innovative and breakthrough concepts which will ensure that your products will
    stay bug-free and that you will deliver the top-quality product!

    <h3>And guess what?! It is for free!</h3>
    </div>
{% endblock content %}


